name: financialance
services:
  client:
    build: 
      context: ./client
      dockerfile: Dockerfile
    ports:
      - "5173:80"
    depends_on:
      - server

  server:
    build:
      context: ./server-api
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
